* We know about the Integer, String, Float. Now let's move further

In [2]:
num = 2+5j
type(num)

complex

In [3]:
num.real  # to find real part

2.0

In [4]:
num.imag  # to find imaginary part

5.0

# Conversion

In [5]:
x = 192
print(type(x))

<class 'int'>

In [6]:
x = '192'     # after adding inverted comma it'll become string 
print(type(x))

<class 'str'>

* Python stores the input given value as in the format of strig so sometimes we need to convert the given value into Integer or Float

In [8]:
x = int(x)
type(x)    # it will convert the strig into string

int

In [9]:
x = float(x)
type(x)    # it will convert the strig into float

float

In [10]:
print(x)   # now it's float

192.0

In [11]:
x = complex(x)
print(type(x))
print(x)

<class 'complex'>
(192+0j)

In [12]:
complex(2,3)   # to make a complex function

(2+3j)

# Functions

In [13]:
# Absolute Value 

x = -7.5
print(x)
print(abs(x))   # for absolute value of function

-7.5
7.5

In [15]:
# Exponentional value 

# it is used to find the e raised to the power.

#For that we must "import math" library

import math
x = 10
print(x)
print(math.exp(x))   # for exponential value of function

10
22026.465794806718

In [16]:
math.e

2.718281828459045

In [17]:
math.pi

3.141592653589793

In [18]:
# Now to find Squareroot 

print(math.sqrt(25))

5.0

In [19]:
print(math.sqrt(7))

2.6457513110645907

In [20]:
# TO find the maximum value 

max(23,454,23,2,454,57,67,8787,78,7,87,656333434)

656333434

In [21]:
# To find the minimum value 

min(23,2,34,5,4,5,6,56,6,56,56,56,56,56,56,5,63,43,4,32,32,434546,56)

2

# Creating List

In [46]:
num = [1,2,3,4]
print(num)          # Only Integers

[1, 2, 3, 4]

In [23]:
letter = ['a','b','c','d']
print(letter)               # Only Letters

['a', 'b', 'c', 'd']

In [24]:
stg = ['get','Shubham','nice'] 
print(stg)                    # Only Strings

['get', 'Shubham', 'nice']

In [29]:
mix = [1,6,'Shubham','good','nice']   
print(mix)                   # All mix of int, letters, strings

[1, 6, 'Shubham', 'good', 'nice']

In [27]:
mat = [[1,2],['a','b']]
print(mat)               # List containing List

[[1, 2], ['a', 'b']]

# Accessing the element in the list

In [30]:
print(mix)

[1, 6, 'Shubham', 'good', 'nice']

In [31]:
mix[2]   # Accessing it from the start of the list
        
         # From start it starts with 0 index number

'Shubham'

In [32]:
mix[-3]   # Accessing it from the end of the list 

          # From end it starts with 1 index number

'Shubham'

In [34]:
mix[:3]

[1, 6, 'Shubham']

In [35]:
mix[3:]

['good', 'nice']

In [36]:
mix[4:]

['nice']

In [37]:
# To find the every 2nd element from the list

mix[::2]

[1, 'Shubham', 'nice']

In [38]:
# To print the list in reverse Order 

mix[::-1]

['nice', 'good', 'Shubham', 6, 1]

# Operations On the Lists

In [40]:
# To Print the element multiple times 

z = [0]*100
print(z)     # So Hundred 0's got printed

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [41]:
# Lets bring the list's we used previously 

print(letter)

['a', 'b', 'c', 'd']

In [42]:
print(stg)

['get', 'Shubham', 'nice']

In [43]:
#Adding two lists "Letter" and "stg"
conc = letter + stg  
print(conc)

['a', 'b', 'c', 'd', 'get', 'Shubham', 'nice']

* Unpacking of the list

In [44]:
var = list("hey there")
print(var)

['h', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e']

In [47]:
print(num)

[1, 2, 3, 4]

In [48]:
# Now to separate '1' from '2,3,4'. Only to seprate first element 

one, *other = num
print(one)
print(other)

1
[2, 3, 4]

# Methods in Lists

* Append

In [52]:
print(num)

[1, 2, 3, 4]

In [53]:
# append it is used to add the element at the end of thr list 

num.append(6) # adding 6 at the end
print(num)

[1, 2, 3, 4, 6]

* extend

In [57]:
# extend is used to add the list in the list at the end 

num.extend(stg)# stg is the list mentioned previously
print(num)

[1, 2, 3, 4, 6, 'get', 'Shubham', 'nice', 'get', 'Shubham', 'nice', 'get', 'Shubham', 'nice', 'get', 'Shubham', 'nice']

* insert . it is used to add the element in the middle of the list

In [60]:
num.insert(5,'Dada')

In [61]:
print(num)

[1, 2, 3, 4, 6, 'Dada', 'Shubham', 'get', 'Shubham', 'nice', 'get', 'Shubham', 'nice', 'get', 'Shubham', 'nice', 'get', 'Shubham', 'nice']

* remove . It removes the element

In [62]:
print(num)

[1, 2, 3, 4, 6, 'Dada', 'Shubham', 'get', 'Shubham', 'nice', 'get', 'Shubham', 'nice', 'get', 'Shubham', 'nice', 'get', 'Shubham', 'nice']

In [63]:
num = [1,2,3,4]
print(num)

[1, 2, 3, 4]

In [64]:
num.remove(3)
print(num)

[1, 2, 4]

* sort  . To sort out the elements

In [66]:
var1 = ['a','b','g','h','u']
var1.sort()
print(var1)

['a', 'b', 'g', 'h', 'u']

# Build in functions with lists

In [67]:
x = [9,17,14,4,90,55]

* len  . is used to find the length of the function

In [68]:
len(x)

6

* min  . gives minimum elemrnt 

* max  . gives maximimum of elemrnt

In [69]:
min(x)

4

In [70]:
max(x)

90

In [71]:
sum(x)     # gives sum of all elements

189

In [72]:
sum(x)/len(x)    # it will give average of the list

31.5