## Data Types

In [1]:
x = 100
type(x)

int

In [2]:
x = 123.4
type(x)

float

In [3]:
# String is collection of characters 

x = 'Shubham'
type(x)

str

## List

In [4]:
# List is the collection of variables 
x = [14,167,9]

In [5]:
print(x)

[14, 167, 9]

In [6]:
type(x)

list

In [9]:
# Now how to extract elements from the list 

print(x[2])
print(x[0])

9
14

In [10]:
print(x)

[14, 167, 9]

In [11]:
# Now lets change the value in the list 

x[2] = 93
print(x)

[14, 167, 93]

##  Tuples

* Tuples has round brackets and Lists have square brackets

In [12]:
x = (4,8,6)
print(x)
print((type(x)))

(4, 8, 6)
<class 'tuple'>

In [13]:
print(x(1))

TypeError: 'tuple' object is not callable

* So the main difference between Lists and Tuples is we can access every single element of list but we can't access every element of Tuples.

* to assign the values in only one single line

In [14]:
(x,y,z) = 5,10,7

In [15]:
print(x)
print(y)
print(z)

5
10
7

In [16]:
# To assign the same value to multiple variable 

x = 1
y = 1
z = 1

In [17]:
x = y = z = 1

In [18]:
print(x)

1

# Rule for naming the variable 

* First character must be alphabets, numbers or underscores

In [19]:
abc = 100

In [20]:
_abc = 10

In [21]:
3a = 12

# it will show error

SyntaxError: invalid syntax (<ipython-input-21-80771803a911>, line 1)

In [22]:
@abc = 12

# Invalid

SyntaxError: invalid syntax (<ipython-input-22-f95c465a9616>, line 1)

In [23]:
a100 = 23

# valid

In [24]:
_a12 = 45

# valid

In [25]:
a99$ = 34

# Only include 'underscore' as a special character

SyntaxError: invalid syntax (<ipython-input-25-31a2624dffa7>, line 1)

* Variable names are case sensitive 

* a100 and A100 are different from each other

In [26]:
a100 = 100
A100 = 200

print(A100)
print(a100)

# they are completely different

200
100

* Cannot use words as break, class, Try

In [27]:
break = 100

SyntaxError: invalid syntax (<ipython-input-27-34daa86cb8f6>, line 1)

# Arithmatic Operation

In [36]:
x = 20
y = 10
result = x+y
print(result)

30

In [37]:
result = x-y
print(result)

10

In [38]:
result = x*y
print(result)

200

In [39]:
result = x/y
print(result)

2.0

In [40]:
# To print result in integer use // 

result = x//y
print(result)

2

In [41]:
result = 2/3
print(result)

0.6666666666666666

In [42]:
result = 2//3
print(result)

0

In [43]:
result = x%y    # % is Moulus AKA Mod
# It gives reminder 
print(result)

0

In [44]:
result = 23%7
print(result)

2

In [45]:
x = 3.14
y = 5.7
result = x/y
print(result)

0.5508771929824562

In [46]:
x = 3.14
y = 5.7
result = x%y
print(result)

3.14

# String Operations

In [48]:
dev = 'Shubham'
print(dev[0])

S

In [49]:
print(dev[4])

h

* Extract the characters from the string

In [51]:
print(dev[0:3])  # printing the characters from 0 to 3

Shu

In [52]:
print(dev[0:6])

Shubha

In [53]:
print(dev[1:3])

hu

In [54]:
print(dev[:3])

Shu

* To print from any character to the last character we no need to mention the last character 

* print(dev[5:])

In [55]:
print(dev[3:])

bham

In [56]:
print(dev[0:20])  # we do not have 20 characters still it will print everything

Shubham

# To find the length of the string

In [57]:
len(dev)

7