# Creating Tuples

* In list we have square brackets and in tuples we have round brackets

In [2]:
emp = ()
print(type(emp))  # Empty brackets are also tuples

<class 'tuple'>

In [3]:
city = "pune",
type(city)

tuple

In [9]:
city = ('pune','mumbai','Banglore','Satara')
city

('pune', 'mumbai', 'Banglore', 'Satara')

* Tuples are immutable they cannot be changed

In [5]:
list1 = [1,2,3,4]
tuple1 = (1,2,3,4)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [6]:
tuple1.append(5)    # so we cannot change anything in tuple as we used to do in Lists

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
print(city)

('pune', 'mumbai', 'Banglore', 'Satara')

In [11]:
city[1]    # we can find elements in tuples

'mumbai'

In [12]:
city[-1]

'Satara'

# Concatenation means adding two tuples

In [13]:
print(city)

('pune', 'mumbai', 'Banglore', 'Satara')

In [14]:
num = 1,2,3,4

In [15]:
print(city+num)

('pune', 'mumbai', 'Banglore', 'Satara', 1, 2, 3, 4)

# Nesting

In [16]:
nest = (city,num)
print(nest)

(('pune', 'mumbai', 'Banglore', 'Satara'), (1, 2, 3, 4))

# Repetiton

In [18]:
rep = ("python",)*5
rep

('python', 'python', 'python', 'python', 'python')

In [19]:
rep = ("python",)
print(rep*10)

('python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python', 'python')

# Slicing

In [20]:
num

(1, 2, 3, 4)

In [21]:
num[1:]

(2, 3, 4)

In [22]:
num[:3]

(1, 2, 3)

In [23]:
num[::-1]   # to print in reverce

(4, 3, 2, 1)

# Unpacking

In [24]:
tuple('Shubham')

('S', 'h', 'u', 'b', 'h', 'a', 'm')

In [25]:
print(num)

(1, 2, 3, 4)

In [26]:
a,b,c,d = num
print(a,b,c,d)    # so we have putted the values of variables in it

1 2 3 4

In [27]:
a

1

In [28]:
a,*b,c = num
print(a,b,c)

1 [2, 3] 4

In [29]:
a,*b,c,d = num
print(a,b,c,d)

1 [2] 3 4

# Deleting a tuple

In [30]:
tuple1 = (1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [31]:
del tuple1

In [32]:
print(tuple1)    # So tuple1 is deleted

NameError: name 'tuple1' is not defined

# Build in function

In [33]:
num1 = (3,5,2,2,2,2,6,5,8)

* count
* To find the number of Counts

In [34]:
num1.count(2)

4

In [35]:
sum(num1)   # this will even work for lists

35

In [36]:
len(num1)

9

In [37]:
max(num1)

8

In [38]:
min(num1)

2

# Converting the list into a Tuple

In [39]:
lst = [1,2,3,4]
print(type(lst))

<class 'list'>

In [41]:
tpl = tuple(lst)
print(type(tpl))

<class 'tuple'>

* we cannot convert List into tuple

# Nesting Tuples within a list

In [43]:
lst = [(1,2,3),(4,5,6)]
print(lst)

[(1, 2, 3), (4, 5, 6)]

In [44]:
lst.append(('Shubham','is','nice','boy'))
print(lst)

[(1, 2, 3), (4, 5, 6), ('Shubham', 'is', 'nice', 'boy')]


# Nesting Lists within Tuples

In [56]:
tpl = (['a','b','c'],['d','e','f'])

In [57]:
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [58]:
tpl[0].append('z')
print(tpl)

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [59]:
tpl[0].remove('z')
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])